@import 'tailwindcss';
@import 'tw-animate-css';
@tailwind utilities;

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 110rem;
}

body {
  touch-action: manipulation; /* Prevents pinch-to-zoom */
  overscroll-behavior: none; /* Prevents zooming on iOS */
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* Default theme (using light theme as default) */
  --background-color: hsla(210, 17%, 100%, 1);
  --card-color: hsla(210, 17%, 91%, 1);
  --border-color: hsla(210, 17%, 76%, 1);

  --main-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 35%);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background-color: hsl(40, 18%, 95%);
    --card-color: hsl(40, 18%, 99%);
    --border-color: hsl(40, 18%, 75%);

    --main-color: hsl(0, 0%, 0%);
    --secondary-color: hsl(0, 0%, 45%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: hsl(204, 36%, 10%);
    --card-color: hsl(204, 36%, 12%);
    --border-color: hsl(204, 36%, 20%);

    --main-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(0, 0%, 75%);
  }
} */

/* Light Theme */
[data-theme='light'] {
  --background-color: hsla(210, 17%, 100%, 1);
  --card-color: hsla(210, 17%, 91%, 1);
  --border-color: hsla(210, 17%, 76%, 1);

  --main-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 35%);
}

/* Dark Theme */
[data-theme='dark'] {
  --background-color: hsla(0, 0%, 11%, 1);
  --card-color: hsla(0, 0%, 16%, 1);
  --border-color: hsla(0, 0%, 30%, 1);

  --main-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 75%);
}

/* LIGHT THEMES */

[data-theme='long'] {
  --background-color: hsl(350, 100%, 85%);
  --card-color: hsl(350, 100%, 87%);
  --border-color: hsl(350, 100%, 80%);

  --main-color: hsl(270, 100%, 50%);
  --secondary-color: hsl(270, 100%, 70%);
}

[data-theme='amethyst'] {
  --background-color: hsl(270, 80%, 90%);
  --card-color: hsl(270, 80%, 85%);
  --border-color: hsl(270, 80%, 75%);

  --main-color: hsl(270, 100%, 50%);
  --secondary-color: hsl(270, 100%, 70%);
}

[data-theme='ice-ice-baby'] {
  --background-color: hsla(181, 84%, 79%, 1);
  --card-color: hsla(181, 84%, 70%, 1);
  --border-color: hsla(181, 84%, 50%, 1);

  --main-color: hsla(283, 44%, 50%, 1);
  --secondary-color: hsla(283, 44%, 50%, 1);
}

[data-theme='miami'] {
  --background-color: hsla(330, 100%, 66%, 1);
  --card-color: hsla(330, 100%, 62%, 1);
  --border-color: hsla(330, 100%, 55%, 1);

  --main-color: hsla(176, 74%, 50%, 1);
  --secondary-color: hsla(176, 74%, 50%, 1);
}

[data-theme='mint'] {
  --background-color: hsla(165, 100%, 41%, 1);
  --card-color: hsla(165, 100%, 38%, 1);
  --border-color: hsla(165, 100%, 30%, 1);

  --main-color: hsla(0, 0%, 100%, 1);
  --secondary-color: hsla(0, 0%, 100%, 1);
}

/* DARK THEMES */

/* Nord Theme */
[data-theme='nord'] {
  --background-color: hsl(220, 16%, 23%);
  --card-color: hsl(220, 16%, 30%);
  --border-color: hsl(220, 16%, 40%);

  --main-color: hsl(92, 28%, 65%);
  /* --secondary-color: hsl(92, 14%, 65%); */
  --secondary-color: rgb(200, 157, 191);
}

/* Midnight Theme */
[data-theme='midnight'] {
  --background-color: hsl(221, 15%, 18%);
  --card-color: hsl(221, 15%, 20%);
  --border-color: hsl(221, 15%, 30%);

  --main-color: hsl(207, 90%, 66%);
  --secondary-color: hsl(207, 50%, 66%);
}

/* Bubblegum Theme */
[data-theme='bubblegum'] {
  --background-color: hsl(240, 25%, 16%);
  --card-color: hsl(240, 25%, 18%);
  --border-color: hsl(240, 25%, 30%);

  --main-color: hsl(320, 90%, 50%);
  --secondary-color: hsl(320, 50%, 50%);
}

/* Aurora Theme */
[data-theme='aurora'] {
  --background-color: hsl(201, 95%, 7%);
  --card-color: hsl(201, 95%, 9%);
  --border-color: hsl(201, 95%, 15%);

  --main-color: hsl(153, 100%, 45%);
  --secondary-color: hsl(153, 50%, 45%);
}

/* Nebula Theme */
[data-theme='nebula'] {
  --background-color: hsl(248, 35%, 12%);
  --card-color: hsl(248, 35%, 14%);
  --border-color: hsl(248, 35%, 20%);

  --main-color: hsl(317, 97%, 73%);
  --secondary-color: hsl(317, 50%, 73%);
}

/* Lavender Theme */
[data-theme='lavender'] {
  --background-color: hsl(220, 20%, 10%);
  --card-color: hsl(220, 20%, 13%);
  --border-color: hsl(220, 20%, 20%);

  --main-color: hsl(270, 100%, 77%);
  --secondary-color: hsl(270, 50%, 77%);
}

/* Matrix Theme */
[data-theme='matrix'] {
  --background-color: hsl(0, 0%, 0%);
  --card-color: hsl(0, 0%, 2.5%);
  --border-color: hsl(0, 0%, 5%);

  --main-color: hsl(115, 100%, 50%);
  --secondary-color: hsl(115, 50%, 50%);
}

/* Magic Sky Theme */
[data-theme='magic-sky'] {
  --background-color: hsl(202, 66%, 9%);
  --card-color: hsl(202, 66%, 11%);
  --border-color: hsl(202, 66%, 15%);

  --main-color: hsl(336, 90%, 83%);
  --secondary-color: hsl(336, 50%, 83%);
}

/* Incognito Theme */
[data-theme='incognito'] {
  --background-color: hsl(0, 0%, 4%);
  --card-color: hsl(0, 0%, 6%);
  --border-color: hsl(0, 0%, 12%);

  --main-color: hsl(36, 100%, 50%);
  --secondary-color: hsl(36, 50%, 50%);
}

/* Cherry Blossom Theme */
[data-theme='cherry-blossom'] {
  --background-color: hsl(200, 5%, 14%);
  --card-color: hsl(200, 5%, 16%);
  --border-color: hsl(200, 5%, 22%);

  --main-color: hsl(305, 75%, 60%);
  --secondary-color: hsl(305, 40%, 60%);
}

/* Bushido Theme */
[data-theme='bushido'] {
  --background-color: hsl(220, 17%, 16%);
  --card-color: hsl(220, 17%, 18%);
  --border-color: hsl(220, 17%, 25%);

  --main-color: hsl(356, 90%, 60%);
  --secondary-color: hsl(356, 50%, 60%);
}

[data-theme='luna'] {
  --background-color: hsl(257, 30%, 15%);
  --card-color: hsl(257, 30%, 17%);
  --border-color: hsl(257, 30%, 25%);

  --main-color: hsl(331, 78%, 65%);
  --secondary-color: hsl(331, 50%, 65%);
}

[data-theme='grape'] {
  --background-color: hsl(268, 100%, 18%);
  --card-color: hsl(268, 100%, 22%);
  --border-color: hsl(268, 100%, 45%);

  --main-color: hsl(35, 100%, 50%);
  --secondary-color: hsl(35, 60%, 50%);
}

[data-theme='hammerhead'] {
  --background-color: hsl(204, 61%, 10%);
  --card-color: hsl(204, 61%, 12%);
  --border-color: hsl(204, 61%, 20%);

  --main-color: hsl(176, 74%, 50%);
  --secondary-color: hsl(176, 45%, 50%);
}

[data-theme='venus-flytrap'] {
  --background-color: hsl(268, 100%, 18%);
  --card-color: hsl(268, 100%, 22%);
  --border-color: hsl(268, 100%, 45%);

  --main-color: hsl(80, 87%, 46%);
  --secondary-color: hsl(80, 50%, 46%);
}

[data-theme='fantasy'] {
  --background-color: hsl(246, 85%, 9%);
  --card-color: hsl(246, 85%, 11%);
  --border-color: hsl(246, 85%, 20%);

  --main-color: hsl(326, 100%, 54%);
  --secondary-color: hsl(326, 60%, 54%);
}

[data-theme='phantom'] {
  --background-color: hsl(233, 76%, 11%);
  --card-color: hsl(233, 76%, 14%);
  --border-color: hsl(233, 76%, 25%);

  --main-color: hsl(330, 73%, 62%);
  --secondary-color: hsl(330, 40%, 62%);
}

[data-theme='noir'] {
  --background-color: hsla(0, 0%, 0%, 1);
  --card-color: hsla(0, 0%, 5%, 1);
  --border-color: hsla(0, 0%, 20%, 1);

  --main-color: hsla(0, 0%, 100%, 1);
  --secondary-color: hsla(0, 0%, 75%, 1);
}

[data-theme='tron'] {
  --background-color: hsla(160, 38%, 9%, 1);
  --card-color: hsla(160, 38%, 12%, 1);
  --border-color: hsla(160, 38%, 25%, 1);

  --main-color: hsla(59, 100%, 42%, 1);
  --secondary-color: hsla(59, 70%, 42%, 1);
}

[data-theme='diamond'] {
  --background-color: hsla(249, 45%, 17%, 1);
  --card-color: hsla(249, 45%, 22%, 1);
  --border-color: hsla(249, 45%, 30%, 1);

  --main-color: hsla(187, 100%, 42%, 1);
  --secondary-color: hsla(187, 70%, 42%, 1);
}

[data-theme='pulse'] {
  --background-color: hsla(180, 5%, 11%, 1);
  --card-color: hsla(180, 5%, 15%, 1);
  --border-color: hsla(180, 5%, 25%, 1);

  --main-color: hsla(191, 100%, 50%, 1);
  --secondary-color: hsla(191, 50%, 50%, 1);
}

[data-theme='flora'] {
  --background-color: hsla(195, 39%, 12%, 1);
  --card-color: hsla(195, 39%, 16%, 1);
  --border-color: hsla(195, 39%, 25%, 1);

  --main-color: hsla(113, 100%, 58%, 1);
  --secondary-color: hsla(113, 50%, 58%, 1);
}




/* Midnight Blossom Theme */
[data-theme='midnight-blossom'] {
  --background-color: hsl(265, 40%, 14%);
  --card-color: hsl(265, 40%, 17%);
  --border-color: hsl(265, 30%, 27%);

  --main-color: hsl(330, 75%, 60%);
  --secondary-color: hsl(285, 60%, 65%);
}

/* Neon Dusk Theme */
[data-theme='neon-dusk'] {
  --background-color: hsl(250, 58%, 10%);
  --card-color: hsl(250, 58%, 15%);
  --border-color: hsl(250, 40%, 22%);

  --main-color: hsl(190, 100%, 50%);
  --secondary-color: hsl(45, 100%, 48%);
}

/* Mystic Forest Theme */
[data-theme='mystic-forest'] {
  --background-color: hsl(146, 30%, 12%);
  --card-color: hsl(146, 32%, 17%);
  --border-color: hsl(146, 26%, 25%);

  --main-color: hsl(111, 62%, 45%);
  --secondary-color: hsl(96, 45%, 60%);
}

/* Velvet Night Theme */
[data-theme='velvet-night'] {
  --background-color: hsl(220, 26%, 13%);
  --card-color: hsl(220, 26%, 17%);
  --border-color: hsl(220, 22%, 28%);

  --main-color: hsl(271, 85%, 57%);
  --secondary-color: hsl(340, 77%, 53%);
}

/* Cosmic Charcoal Theme */
[data-theme='cosmic-charcoal'] {
  --background-color: hsl(210, 15%, 11%);
  --card-color: hsl(210, 15%, 15%);
  --border-color: hsl(210, 15%, 25%);

  --main-color: hsl(15, 95%, 62%);
  --secondary-color: hsl(29, 100%, 55%);
}


/* Moonlit Sakura Theme */
[data-theme='moonlit-sakura'] {
  --background-color: hsl(255, 32%, 13%);
  --card-color: hsl(255, 36%, 17%);
  --border-color: hsl(340, 38%, 30%);
  --main-color: hsl(328, 70%, 73%);
  --secondary-color: hsl(340, 100%, 80%);
}

/* Sapphire Frost Theme */
[data-theme='sapphire-frost'] {
  --background-color: hsl(209, 60%, 10%);
  --card-color: hsl(209, 60%, 14%);
  --border-color: hsl(205, 45%, 25%);
  --main-color: hsl(196, 100%, 68%);
  --secondary-color: hsl(170, 55%, 67%);
}

/* Ember Glow Theme */
[data-theme='ember-glow'] {
  --background-color: hsl(18, 69%, 13%);
  --card-color: hsl(18, 70%, 17%);
  --border-color: hsl(28, 40%, 27%);
  --main-color: hsl(28, 97%, 58%);
  --secondary-color: hsl(14, 80%, 59%);
}

/* Jade Mirage Theme */
[data-theme='jade-mirage'] {
  --background-color: hsl(163, 21%, 13%);
  --card-color: hsl(163, 25%, 17%);
  --border-color: hsl(166, 25%, 27%);
  --main-color: hsl(150, 66%, 54%);
  --secondary-color: hsl(170, 64%, 54%);
}

/* Rosewood Nightfall Theme */
[data-theme='rosewood-nightfall'] {
  --background-color: hsl(345, 31%, 13%);
  --card-color: hsl(345, 38%, 18%);
  --border-color: hsl(356, 30%, 27%);
  --main-color: hsl(340, 78%, 60%);
  --secondary-color: hsl(10, 60%, 60%);
}



/* Nebula Veil Theme */
[data-theme='nebula-veil'] {
  --background-color: hsl(248, 31%, 11%);
  --card-color: hsl(263, 41%, 17%);
  --border-color: hsl(286, 54%, 27%);
  --main-color: hsl(293, 83%, 74%);
  --secondary-color: hsl(192, 92%, 71%);
}

/* Velvet Citrus Dream Theme */
[data-theme='velvet-citrus-dream'] {
  --background-color: hsl(274, 33%, 13%);
  --card-color: hsl(274, 36%, 17%);
  --border-color: hsl(47, 90%, 60%);
  --main-color: hsl(48, 100%, 67%);
  --secondary-color: hsl(17, 98%, 64%);
}

/* Arctic Inferno Theme */
[data-theme='arctic-inferno'] {
  --background-color: hsl(217, 44%, 14%);
  --card-color: hsl(220, 60%, 17%);
  --border-color: hsl(8, 86%, 54%);
  --main-color: hsl(6, 96%, 66%);
  --secondary-color: hsl(181, 100%, 65%);
}

/* Haunted Lagoon Theme */
[data-theme='haunted-lagoon'] {
  --background-color: hsl(194, 80%, 9%);
  --card-color: hsl(177, 47%, 14%);
  --border-color: hsl(170, 63%, 30%);
  --main-color: hsl(168, 81%, 56%);
  --secondary-color: hsl(117, 39%, 64%);
}

/* Blood Moon Waltz Theme */
[data-theme='blood-moon-waltz'] {
  --background-color: hsl(352, 65%, 12%);
  --card-color: hsl(357, 71%, 18%);
  --border-color: hsl(17, 81%, 42%);
  --main-color: hsl(6, 100%, 67%);
  --secondary-color: hsl(40, 97%, 60%);
}

/* Celestial Grove Theme */
[data-theme='celestial-grove'] {
  --background-color: hsl(170, 35%, 10%);
  --card-color: hsl(170, 37%, 15%);
  --border-color: hsl(170, 37%, 25%);
  --main-color: hsl(86, 68%, 57%);
  --secondary-color: hsl(43, 93%, 64%);
}

/* Amethyst Nightfall Theme */
[data-theme='amethyst-nightfall'] {
  --background-color: hsl(277, 34%, 12%);
  --card-color: hsl(277, 38%, 18%);
  --border-color: hsl(277, 38%, 28%);
  --main-color: hsl(289, 72%, 63%);
  --secondary-color: hsl(214, 77%, 65%);
}

/* Luminous Tide Theme */
[data-theme='luminous-tide'] {
  --background-color: hsl(209, 49%, 11%);
  --card-color: hsl(209, 54%, 16%);
  --border-color: hsl(209, 54%, 26%);
  --main-color: hsl(188, 85%, 50%);
  --secondary-color: hsl(45, 96%, 62%);
}

/* Enchanted Ember Theme */
[data-theme='enchanted-ember'] {
  --background-color: hsl(28, 33%, 11%);
  --card-color: hsl(28, 37%, 17%);
  --border-color: hsl(28, 37%, 27%);
  --main-color: hsl(16, 76%, 61%);
  --secondary-color: hsl(40, 98%, 54%);
}

/* Orchid Eclipse Theme */
[data-theme='orchid-eclipse'] {
  --background-color: hsl(325, 24%, 14%);
  --card-color: hsl(325, 27%, 18%);
  --border-color: hsl(325, 27%, 28%);
  --main-color: hsl(304, 71%, 67%);
  --secondary-color: hsl(164, 75%, 54%);
}

/* Andromeda Dream Theme */
[data-theme='andromeda-dream'] {
  --background-color: hsl(264, 51%, 10%);
  --card-color: hsl(264, 53%, 16%);
  --border-color: hsl(264, 53%, 27%);
  --main-color: hsl(312, 76%, 72%);
  --secondary-color: hsl(194, 100%, 69%);
}

/* Luminous Nebula Theme */
[data-theme='luminous-nebula'] {
  --background-color: hsl(239, 71%, 9%);
  --card-color: hsl(239, 74%, 16%);
  --border-color: hsl(239, 74%, 28%);
  --main-color: hsl(288, 99%, 70%);
  --secondary-color: hsl(199, 100%, 75%);
}

/* Seraphic Aurora Theme */
[data-theme='seraphic-aurora'] {
  --background-color: hsl(217, 52%, 12%);
  --card-color: hsl(197, 56%, 18%);
  --border-color: hsl(197, 56%, 28%);
  --main-color: hsl(153, 100%, 60%);
  --secondary-color: hsl(273, 97%, 74%);
}

/* Cosmic Prism Theme */
[data-theme='cosmic-prism'] {
  --background-color: hsl(287, 65%, 11%);
  --card-color: hsl(287, 72%, 18%);
  --border-color: hsl(287, 72%, 28%);
  --main-color: hsl(341, 100%, 71%);
  --secondary-color: hsl(179, 97%, 68%);
}

/* Opaline Zodiac Theme */
[data-theme='opaline-zodiac'] {
  --background-color: hsl(197, 51%, 13%);
  --card-color: hsl(197, 56%, 19%);
  --border-color: hsl(197, 56%, 29%);
  --main-color: hsl(174, 100%, 67%);
  --secondary-color: hsl(56, 100%, 73%);
}

/* Glitching Eden Theme */
[data-theme='glitching-eden'] {
  --background-color: hsl(320, 81%, 7%);
  --card-color: hsl(139, 57%, 17%);
  --border-color: hsl(139, 57%, 33%);
  --main-color: hsl(90, 100%, 56%);
  --secondary-color: hsl(299, 96%, 67%);
}

/* Solar Paradox Theme */
[data-theme='solar-paradox'] {
  --background-color: hsl(57, 91%, 12%);
  --card-color: hsl(276, 32%, 18%);
  --border-color: hsl(276, 32%, 31%);
  --main-color: hsl(50, 100%, 56%);
  --secondary-color: hsl(201, 100%, 54%);
}

/* Velvet Abyss Theme */
[data-theme='velvet-abyss'] {
  --background-color: hsl(258, 60%, 8%);
  --card-color: hsl(305, 32%, 16%);
  --border-color: hsl(305, 32%, 27%);
  --main-color: hsl(12, 83%, 55%);
  --secondary-color: hsl(172, 86%, 65%);
}

/* Prism Infection Theme */
[data-theme='prism-infection'] {
  --background-color: hsl(48, 92%, 10%);
  --card-color: hsl(348, 94%, 15%);
  --border-color: hsl(348, 94%, 27%);
  --main-color: hsl(101, 81%, 57%);
  --secondary-color: hsl(187, 96%, 44%);
}

/* Radioactive Lagoon Theme */
[data-theme='radioactive-lagoon'] {
  --background-color: hsl(161, 79%, 11%);
  --card-color: hsl(117, 82%, 13%);
  --border-color: hsl(117, 82%, 22%);
  --main-color: hsl(60, 100%, 61%);
  --secondary-color: hsl(310, 94%, 69%);
}

/* Polaris Veil Theme */
[data-theme='polaris-veil'] {
  --background-color: hsl(222, 46%, 12%);
  --card-color: hsl(222, 46%, 17%);
  --border-color: hsl(222, 46%, 29%);
  --main-color: hsl(196, 100%, 72%);
  --secondary-color: hsl(60, 100%, 73%);
}

/* Rose Nebula Theme */
[data-theme='rose-nebula'] {
  --background-color: hsl(310, 38%, 13%);
  --card-color: hsl(310, 38%, 19%);
  --border-color: hsl(310, 38%, 28%);
  --main-color: hsl(346, 75%, 69%);
  --secondary-color: hsl(273, 98%, 75%);
}

/* Azure Twilight Theme */
[data-theme='azure-twilight'] {
  --background-color: hsl(219, 37%, 11%);
  --card-color: hsl(219, 39%, 16%);
  --border-color: hsl(219, 39%, 27%);
  --main-color: hsl(187, 97%, 58%);
  --secondary-color: hsl(261, 74%, 78%);
}

/* Ethereal Dawn Theme */
[data-theme='ethereal-dawn'] {
  --background-color: hsl(263, 52%, 12%);
  --card-color: hsl(263, 57%, 17%);
  --border-color: hsl(263, 57%, 29%);
  --main-color: hsl(41, 98%, 67%);
  --secondary-color: hsl(172, 78%, 65%);
}

/* Halcyon Garden Theme */
[data-theme='halcyon-garden'] {
  --background-color: hsl(151, 35%, 11%);
  --card-color: hsl(151, 37%, 17%);
  --border-color: hsl(151, 37%, 28%);
  --main-color: hsl(109, 83%, 57%);
  --secondary-color: hsl(219, 91%, 67%);
}

/* Hyperion Skies */
[data-theme='hyperion-skies'] {
  --background-color: hsl(209, 54%, 11%);
  --card-color: hsl(209, 57%, 17%);
  --border-color: hsl(209, 57%, 26%);
  --main-color: hsl(199, 96%, 68%);
  --secondary-color: hsl(47, 100%, 63%);
}

/* Velvet Starlight */
[data-theme='velvet-starlight'] {
  --background-color: hsl(291, 39%, 11%);
  --card-color: hsl(291, 43%, 19%);
  --border-color: hsl(291, 43%, 32%);
  --main-color: hsl(317, 94%, 67%);
  --secondary-color: hsl(235, 92%, 82%);
}

/* Solaris Orchard */
[data-theme='solaris-orchard'] {
  --background-color: hsl(73, 34%, 12%);
  --card-color: hsl(73, 36%, 18%);
  --border-color: hsl(73, 36%, 29%);
  --main-color: hsl(20, 98%, 68%);
  --secondary-color: hsl(120, 77%, 65%);
}

/* Astral Mirage */
[data-theme='astral-mirage'] {
  --background-color: hsl(191, 75%, 9%);
  --card-color: hsl(191, 81%, 13%);
  --border-color: hsl(191, 81%, 27%);
  --main-color: hsl(271, 97%, 73%);
  --secondary-color: hsl(47, 94%, 65%);
}

/* Oceanic Aurora */
[data-theme='oceanic-aurora'] {
  --background-color: hsl(204, 67%, 12%);
  --card-color: hsl(204, 70%, 17%);
  --border-color: hsl(204, 70%, 27%);
  --main-color: hsl(162, 92%, 62%);
  --secondary-color: hsl(280, 78%, 76%);
}

/* Zephyrite Dream */
[data-theme='zephyrite-dream'] {
  --background-color: hsl(157, 29%, 11%);
  --card-color: hsl(157, 33%, 17%);
  --border-color: hsl(157, 33%, 29%);
  --main-color: hsl(196, 93%, 69%);
  --secondary-color: hsl(98, 82%, 63%);
}

/* Lapis Cascade */
[data-theme='lapis-cascade'] {
  --background-color: hsl(215, 50%, 11%);
  --card-color: hsl(215, 55%, 17%);
  --border-color: hsl(215, 55%, 29%);
  --main-color: hsl(230, 100%, 75%);
  --secondary-color: hsl(186, 88%, 52%);
}

/* Lucid Dusk */
[data-theme='lucid-dusk'] {
  --background-color: hsl(246, 42%, 13%);
  --card-color: hsl(246, 45%, 18%);
  --border-color: hsl(246, 45%, 28%);
  --main-color: hsl(6, 81%, 68%);
  --secondary-color: hsl(182, 100%, 68%);
}

/* Fuchsia Solstice */
[data-theme='fuchsia-solstice'] {
  --background-color: hsl(322, 48%, 11%);
  --card-color: hsl(322, 53%, 16%);
  --border-color: hsl(322, 53%, 29%);
  --main-color: hsl(291, 99%, 72%);
  --secondary-color: hsl(53, 100%, 67%);
}

/* Sapphire Bloom */
[data-theme='sapphire-bloom'] {
  --background-color: hsl(224, 41%, 14%);
  --card-color: hsl(224, 47%, 19%);
  --border-color: hsl(224, 47%, 30%);
  --main-color: hsl(261, 100%, 83%);
  --secondary-color: hsl(166, 100%, 59%);
}

/* Citrus Eclipse */
[data-theme='citrus-eclipse'] {
  --background-color: hsl(34, 49%, 11%);
  --card-color: hsl(34, 54%, 16%);
  --border-color: hsl(34, 54%, 29%);
  --main-color: hsl(42, 100%, 65%);
  --secondary-color: hsl(293, 94%, 71%);
}

/* Celestite Frost */
[data-theme='celestite-frost'] {
  --background-color: hsl(196, 43%, 13%);
  --card-color: hsl(196, 50%, 19%);
  --border-color: hsl(196, 50%, 29%);
  --main-color: hsl(196, 100%, 85%);
  --secondary-color: hsl(314, 86%, 76%);
}

/* Peony Nightshade */
[data-theme='peony-nightshade'] {
  --background-color: hsl(338, 30%, 12%);
  --card-color: hsl(338, 35%, 19%);
  --border-color: hsl(338, 35%, 30%);
  --main-color: hsl(328, 95%, 68%);
  --secondary-color: hsl(119, 89%, 73%);
}

/* Topaz Drift */
[data-theme='topaz-drift'] {
  --background-color: hsl(172, 34%, 11%);
  --card-color: hsl(172, 37%, 17%);
  --border-color: hsl(172, 37%, 29%);
  --main-color: hsl(45, 98%, 71%);
  --secondary-color: hsl(18, 88%, 64%);
}

/* Emberlit Cloud */
[data-theme='emberlit-cloud'] {
  --background-color: hsl(10, 40%, 12%);
  --card-color: hsl(10, 45%, 19%);
  --border-color: hsl(10, 45%, 29%);
  --main-color: hsl(16, 100%, 70%);
  --secondary-color: hsl(181, 92%, 67%);
}

/* Nebulous Maw */
[data-theme='nebulous-maw'] {
  --background-color: hsl(252, 59%, 8%);
  --card-color: hsl(247, 65%, 18%);
  --border-color: hsl(247, 65%, 28%);
  --main-color: hsl(46, 100%, 69%);
  --secondary-color: hsl(321, 99%, 78%);
}

/* Epsilon Halo */
[data-theme='epsilon-halo'] {
  --background-color: hsl(69, 60%, 8%);
  --card-color: hsl(102, 59%, 17%);
  --border-color: hsl(102, 59%, 27%);
  --main-color: hsl(200, 80%, 73%);
  --secondary-color: hsl(94, 97%, 60%);
}

/* Black Opaline */
[data-theme='black-opaline'] {
  --background-color: hsl(33, 24%, 10%);
  --card-color: hsl(233, 23%, 15%);
  --border-color: hsl(233, 23%, 29%);
  --main-color: hsl(316, 98%, 66%);
  --secondary-color: hsl(180, 92%, 63%);
}

/* Vortex Requiem */
[data-theme='vortex-requiem'] {
  --background-color: hsl(290, 51%, 10%);
  --card-color: hsl(227, 41%, 18%);
  --border-color: hsl(227, 41%, 29%);
  --main-color: hsl(192, 100%, 64%);
  --secondary-color: hsl(292, 100%, 62%);
}

/* Solar Genesis */
[data-theme='solar-genesis'] {
  --background-color: hsl(23, 94%, 7%);
  --card-color: hsl(27, 88%, 14%);
  --border-color: hsl(27, 88%, 28%);
  --main-color: hsl(48, 100%, 74%);
  --secondary-color: hsl(16, 92%, 66%);
}

/* Aurora Mechanica */
[data-theme='aurora-mechanica'] {
  --background-color: hsl(180, 46%, 8%);
  --card-color: hsl(127, 62%, 15%);
  --border-color: hsl(127, 62%, 25%);
  --main-color: hsl(208, 94%, 59%);
  --secondary-color: hsl(317, 90%, 69%);
}

/* Ultraviolet Oracle */
[data-theme='ultraviolet-oracle'] {
  --background-color: hsl(265, 81%, 9%);
  --card-color: hsl(267, 82%, 16%);
  --border-color: hsl(267, 82%, 29%);
  --main-color: hsl(210, 100%, 69%);
  --secondary-color: hsl(273, 93%, 73%);
}

/* Dusk Vermillion */
[data-theme='dusk-vermillion'] {
  --background-color: hsl(12, 83%, 7%);
  --card-color: hsl(12, 83%, 17%);
  --border-color: hsl(12, 83%, 29%);
  --main-color: hsl(340, 91%, 69%);
  --secondary-color: hsl(19, 100%, 73%);
}

/* Blue Emberveil */
[data-theme='blue-emberveil'] {
  --background-color: hsl(212, 60%, 10%);
  --card-color: hsl(288, 35%, 16%);
  --border-color: hsl(288, 35%, 29%);
  --main-color: hsl(199, 94%, 71%);
  --secondary-color: hsl(19, 97%, 61%);
}

/* Genesis Prism */
[data-theme='genesis-prism'] {
  --background-color: hsl(39, 60%, 9%);
  --card-color: hsl(280, 80%, 14%);
  --border-color: hsl(280, 80%, 28%);
  --main-color: hsl(102, 78%, 64%);
  --secondary-color: hsl(325, 75%, 75%);
}

/* Liminal Bloom */
[data-theme='liminal-bloom'] {
  --background-color: hsl(346, 41%, 10%);
  --card-color: hsl(312, 42%, 18%);
  --border-color: hsl(312, 42%, 29%);
  --main-color: hsl(294, 99%, 62%);
  --secondary-color: hsl(55, 98%, 58%);
}

/* Nautilus Star */
[data-theme='nautilus-star'] {
  --background-color: hsl(205, 47%, 8%);
  --card-color: hsl(187, 83%, 19%);
  --border-color: hsl(187, 83%, 30%);
  --main-color: hsl(207, 95%, 65%);
  --secondary-color: hsl(30, 92%, 72%);
}

/* Cardinal Void */
[data-theme='cardinal-void'] {
  --background-color: hsl(350, 85%, 9%);
  --card-color: hsl(347, 86%, 19%);
  --border-color: hsl(347, 86%, 28%);
  --main-color: hsl(22, 95%, 65%);
  --secondary-color: hsl(201, 89%, 52%);
}

/* Cyanic Wisdom */
[data-theme='cyanic-wisdom'] {
  --background-color: hsl(197, 62%, 9%);
  --card-color: hsl(203, 75%, 15%);
  --border-color: hsl(203, 75%, 28%);
  --main-color: hsl(192, 100%, 73%);
  --secondary-color: hsl(331, 79%, 74%);
}

/* Twilight Oracle */
[data-theme='twilight-oracle'] {
  --background-color: hsl(256, 42%, 12%);
  --card-color: hsl(333, 61%, 18%);
  --border-color: hsl(333, 61%, 29%);
  --main-color: hsl(5, 92%, 66%);
  --secondary-color: hsl(208, 70%, 70%);
}

/* Silica Dusk */
[data-theme='silica-dusk'] {
  --background-color: hsl(19, 29%, 8%);
  --card-color: hsl(29, 17%, 14%);
  --border-color: hsl(29, 17%, 24%);
  --main-color: hsl(359, 95%, 78%);
  --secondary-color: hsl(186, 88%, 69%);
}

/* Galaxy Oracle */
[data-theme='galaxy-oracle'] {
  --background-color: hsl(219, 78%, 7%);
  --card-color: hsl(254, 67%, 14%);
  --border-color: hsl(254, 67%, 25%);
  --main-color: hsl(296, 84%, 78%);
  --secondary-color: hsl(222, 100%, 73%);
}

/* Fathom Frost */
[data-theme='fathom-frost'] {
  --background-color: hsl(200, 58%, 10%);
  --card-color: hsl(202, 68%, 13%);
  --border-color: hsl(202, 68%, 27%);
  --main-color: hsl(123, 84%, 59%);
  --secondary-color: hsl(319, 91%, 78%);
}

/* Amber Frostbite */
[data-theme='amber-frostbite'] {
  --background-color: hsl(32, 85%, 11%);
  --card-color: hsl(44, 97%, 13%);
  --border-color: hsl(44, 97%, 26%);
  --main-color: hsl(197, 91%, 83%);
  --secondary-color: hsl(343, 88%, 71%);
}

/* Verdant Comet */
[data-theme='verdant-comet'] {
  --background-color: hsl(123, 35%, 8%);
  --card-color: hsl(83, 62%, 15%);
  --border-color: hsl(83, 62%, 27%);
  --main-color: hsl(127, 100%, 62%);
  --secondary-color: hsl(364, 98%, 74%);
}

/* Radiant Umbra */
[data-theme='radiant-umbra'] {
  --background-color: hsl(172, 60%, 9%);
  --card-color: hsl(61, 66%, 16%);
  --border-color: hsl(61, 66%, 28%);
  --main-color: hsl(197, 90%, 65%);
  --secondary-color: hsl(325, 90%, 64%);
}

/* Magenta Tundra */
[data-theme='magenta-tundra'] {
  --background-color: hsl(333, 61%, 9%);
  --card-color: hsl(314, 89%, 21%);
  --border-color: hsl(314, 89%, 32%);
  --main-color: hsl(53, 93%, 69%);
  --secondary-color: hsl(194, 92%, 79%);
}

/* Lapis Solara */
[data-theme='lapis-solara'] {
  --background-color: hsl(226, 63%, 9%);
  --card-color: hsl(208, 69%, 18%);
  --border-color: hsl(208, 69%, 30%);
  --main-color: hsl(57, 100%, 77%);
  --secondary-color: hsl(259, 97%, 82%);
}

/* Neon Haze */
[data-theme='neon-haze'] {
  --background-color: hsl(297, 77%, 9%);
  --card-color: hsl(88, 64%, 16%);
  --border-color: hsl(88, 64%, 27%);
  --main-color: hsl(72, 95%, 66%);
  --secondary-color: hsl(314, 96%, 74%);
}

/* Lyra Cascade */
[data-theme='lyra-cascade'] {
  --background-color: hsl(144, 41%, 9%);
  --card-color: hsl(221, 62%, 18%);
  --border-color: hsl(221, 62%, 31%);
  --main-color: hsl(195, 97%, 69%);
  --secondary-color: hsl(325, 85%, 73%);
}

/* Arcane Fathoms */
[data-theme='arcane-fathoms'] {
  --background-color: hsl(207, 74%, 10%);
  --card-color: hsl(272, 80%, 22%);
  --border-color: hsl(272, 80%, 34%);
  --main-color: hsl(97, 76%, 66%);
  --secondary-color: hsl(281, 93%, 80%);
}

/* Melancholy Halo */
[data-theme='melancholy-halo'] {
  --background-color: hsl(222, 29%, 9%);
  --card-color: hsl(253, 30%, 16%);
  --border-color: hsl(253, 30%, 27%);
  --main-color: hsl(257, 94%, 74%);
  --secondary-color: hsl(159, 96%, 66%);
}

/* Prism Snowfall */
[data-theme='prism-snowfall'] {
  --background-color: hsl(301, 15%, 8%);
  --card-color: hsl(185, 16%, 20%);
  --border-color: hsl(185, 16%, 32%);
  --main-color: hsl(190, 92%, 75%);
  --secondary-color: hsl(41, 98%, 81%);
}

/* Infinite Spice */
[data-theme='infinite-spice'] {
  --background-color: hsl(36, 86%, 7%);
  --card-color: hsl(27, 83%, 15%);
  --border-color: hsl(27, 83%, 29%);
  --main-color: hsl(22, 98%, 68%);
  --secondary-color: hsl(199, 92%, 69%);
}

/* Lotus Specter */
[data-theme='lotus-specter'] {
  --background-color: hsl(324, 27%, 8%);
  --card-color: hsl(345, 64%, 17%);
  --border-color: hsl(345, 64%, 30%);
  --main-color: hsl(319, 96%, 76%);
  --secondary-color: hsl(66, 100%, 73%);
}

/* Azure Mirage */
[data-theme='azure-mirage'] {
  --background-color: hsl(190, 100%, 7%);
  --card-color: hsl(191, 93%, 16%);
  --border-color: hsl(191, 93%, 27%);
  --main-color: hsl(271, 99%, 72%);
  --secondary-color: hsl(52, 100%, 69%);
}

/* Polar Rose */
[data-theme='polar-rose'] {
  --background-color: hsl(355, 61%, 9%);
  --card-color: hsl(13, 72%, 17%);
  --border-color: hsl(13, 72%, 30%);
  --main-color: hsl(290, 100%, 78%);
  --secondary-color: hsl(175, 86%, 69%);
}

/* Ion Ember */
[data-theme='ion-ember'] {
  --background-color: hsl(22, 100%, 8%);
  --card-color: hsl(15, 85%, 17%);
  --border-color: hsl(15, 85%, 30%);
  --main-color: hsl(50, 86%, 68%);
  --secondary-color: hsl(323, 87%, 75%);
}

/* Cobalt Lumen */
[data-theme='cobalt-lumen'] {
  --background-color: hsl(205, 90%, 8%);
  --card-color: hsl(210, 71%, 18%);
  --border-color: hsl(210, 71%, 31%);
  --main-color: hsl(193, 97%, 67%);
  --secondary-color: hsl(299, 94%, 62%);
}

/* Mirage Peach */
[data-theme='mirage-peach'] {
  --background-color: hsl(19, 63%, 8%);
  --card-color: hsl(30, 94%, 19%);
  --border-color: hsl(30, 94%, 32%);
  --main-color: hsl(24, 98%, 66%);
  --secondary-color: hsl(266, 96%, 66%);
}

/* Spectral Mint */
[data-theme='spectral-mint'] {
  --background-color: hsl(146, 68%, 8%);
  --card-color: hsl(163, 82%, 18%);
  --border-color: hsl(163, 82%, 29%);
  --main-color: hsl(147, 94%, 78%);
  --secondary-color: hsl(259, 98%, 72%);
}

/* Aero Blossom */
[data-theme='aero-blossom'] {
  --background-color: hsl(200, 25%, 10%);
  --card-color: hsl(222, 61%, 18%);
  --border-color: hsl(222, 61%, 29%);
  --main-color: hsl(155, 93%, 66%);
  --secondary-color: hsl(335, 92%, 72%);
}

/* Antimatter Bloom */
[data-theme='antimatter-bloom'] {
  --background-color: hsl(264, 88%, 9%);
  --card-color: hsl(289, 53%, 15%);
  --border-color: hsl(289, 53%, 27%);
  --main-color: hsl(125, 93%, 68%);
  --secondary-color: hsl(349, 96%, 72%);
}

/* Golden Lyric */
[data-theme='golden-lyric'] {
  --background-color: hsl(45, 60%, 8%);
  --card-color: hsl(29, 61%, 18%);
  --border-color: hsl(29, 61%, 28%);
  --main-color: hsl(49, 97%, 74%);
  --secondary-color: hsl(286, 89%, 76%);
}

/* Neon Singularity */
[data-theme='neon-singularity'] {
  --background-color: hsl(171, 92%, 8%);
  --card-color: hsl(83, 93%, 16%);
  --border-color: hsl(83, 93%, 28%);
  --main-color: hsl(326, 96%, 72%);
  --secondary-color: hsl(196, 100%, 68%);
}